/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, f5igure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.body1 {
	position: absolute;
	left: 25px;
	/*background: url(file:///C:/Users/aijne/Desktop/Lambda/User-Interface/great-idea-website/img/header-img.png);*/
}

.serv:hover {
	background-color: yellow;
}

.navigation {
	position: fixed;
	word-spacing: 36px;
	color: grey;
	width: 100%;
	height: 80px;
	background-color: blue;
	z-index: 1;
	vertical-align: middle;
}

.logo {
	position: absolute;
	left: 673px;
}

.innovation {
	font-family: 'Black Han Sans', sans-serif;
	font-size: 36px;
	position: absolute;
	top: 86px;
	left: 96px; 
	display: inline-block;
	width: 288px;
	height: 148px;
	text-align: center;
	font-size: 48px;
	font-weight: bold;
}

.get {
	position: absolute;
	left: 188px;
	top: 232px;
	border: 2px solid black;
	font-size: 14px;
	width: 114px;
	padding: 2px 20px 2px;

}

.top-image {
	width: 166px;
	height: 166px;
	position: absolute;
	top: 88px;
	left: 586px;
	right: ;
}

.h_line {
	position: absolute;
	top: 275px;
	border: 1px solid black;
	width: 880px; 
	height: 1px;
}

.top-content {
	position: absolute;
	top: 300px;

}

.middle-img {
	position: absolute;
	top: 450px;
}

.bottom-content {
	position: absolute;
	top: 652px;
 }

 .contact {
 	position: absolute;
 	top: 820px;
 }

 .footer {
  position: absolute;
  right: 0;
  bottom: -575px;
  left: 350px;
  text-align: center;
 }

 .bold {
 	font-size: 16px;
 	font-weight: bold;
 }

 .top-left {
 	display: block;
 	width: 400px;
 	height: 400px;
 	position: absolute;
 	top: 30px;
 	left: 0px;
 }

.top-right {
	display: inline-block;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 30px;
	left: 454px;
}

.about {
	position: absolute;
	top: 0px;
	left: 454px;
}

.bottom-left {
	display: block;
	width: 266px;
	height: 300px;
	position: absolute;
	top: 30px;
}

.bot-mid {
	display: inline-block;
	width: 266px;
	height: 300px;
	position: absolute;
	top: 30px;
	left: 290px;
}

.products {
	position: absolute;
	top: 0px;
	left: 290px;
}

.bot-right {
	display: inline-block;
	width: 266px;
	height: 300px;
	position: absolute;
	top: 30px;
	left: 573px;
}

.vision {
	position: absolute;
	top: 0px;
	left: 573px;
}
/*.bot-right {
	display: inline-block;
}*/

.contacts {
	width: 300px;
}

.h_line2 {
	position: absolute;
	top: 800px;
	border: 1px solid black;
	width: 880px; 
	height: 1px;
}

.footer {
	font-family: 'Lobster', cursive;
	width: 170px;
}

